#master {
	width: 480px;
	height: 480px;
	margin: auto;
	margin-top:30px;
}

table {
	width: 100%;
	height: 100%;
	border: 2px solid #bfeeff;
	/*border-collapse: collapse;*/
}

td {
	background-color: #bfeeff;
}

#options {
	margin-top: 10px;
	text-align: center;
	font-family: Arial;
}








